.compagnies {

    &-logo-box {
        max-width: 100%;
        height: 3rem;
        margin-bottom: 2rem;
        padding: 0.3rem;
        text-align: center;
        position: relative;


        img {
            max-width: 100%;
            height: 100%;

            &:hover {
                filter: grayscale(120);
            }
        }
    }
}